{% extends 'base.html' %}

{% load static %}

{% block pageTitle %}ITC Upload Portal{% endblock pageTitle %}

{% block main %}
<section id="upload-section" class="section">
    <h2 id="heading">ITC Upload Portal</h2>
    <form action="{% url 'formsubmit' %}" method="POST" id="upload-form" class="form" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div id="step-one">
            <div class="input-container">
                <label for="branch-select" class="label">Branch</label>
                <select name="branch" id="branch-select" class="select" required>
                    <option disabled selected>Choose one</option>
                </select>
            </div>
            <div class="input-container">
                <label for="section-select" class="label">AE Section</label>
                <select name="section" id="section-select" class="select" required>
                    <option disabled selected>Choose one</option>
                </select>
            </div>
            <div class="input-container">
                <label for="name-input" class="label">Name</label>
                <input type="text" name="name" id="name-input" class="input" placeholder="Eg. John Doe"
                    required>
            </div>
            <div class="input-container">
                <label for="phone-input" class="label">Phone</label>
                <input type="tel" name="phone" id="phone-input" class="input" placeholder="Eg. 8057567548"
                    required>
            </div>
            <button class="button" id="first-continue">Continue</button>
        </div>
        <div id="step-two">
            <div id="upload-region">
                <div id="photo-containers">
                    <p class="label">No photos selected.</p>
                </div>
                <button class="button" id="add-photo">Add Photo</button>
                <p id="upto-line">Upload upto 25 images at a time</p>
            </div>
            <button type="submit" class="button">Submit</button>
            <button class="button" id="go-back-2">Go Back</button>
        </div>
    </form>
</section>
{% endblock main %}

{% block bodyEnd %}
<a href="{% url 'admin_login' %}" class="admin-login-logout">Admin Login</a>
<script>
    // Show message if there is one
    {% if messages %}
        {% for message in messages %}
        showMessage('{{ message }}', '{{ message.tags }}');
        {% endfor %}
    {% endif %}

    const branches = {{ branches|safe }};
    const csrftoken = '{{ csrf_token }}';
</script>
<script src="{% static 'js/load.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock bodyEnd %}


